.screen-overlay-final-confirm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    transition: all 0.5s ease-in-out;
}

.final-confirm-popup{
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #1F1D2B;
    z-index: 15;
    right: -50%;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.final-confirm-popup.active{
    right: 0;
}
.screen-overlay-final-confirm.active{
    display: block;
}

.final-confirm-modal form {
    color: white;
    /* max-width: 500px; */
    margin: 15px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}
.final-confirm-modal label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.final-confirm-modal input[type="text"], 
.final-confirm-modal input[type="email"], 
.final-confirm-modal input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.final-confirm-modal .summary {
    margin-top: 15px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    color: #1F1D2B;
}
/* .final-cf-pop-footer button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.final-cf-pop-footer button:hover {
    background-color: #0056b3;
} */

.final-cf-pop-footer {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 12px 0px;
    background: #07050e;
    justify-content: center;
    align-items: center;
}

.final-cf-pop-footer button {
    border: none;
    color: white;
    background-color: #EA7C69;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 1s;
}
.final-cf-pop-footer button:hover {
    background-color: #e66750;
}

.final-cf-pop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
}
.final-cf-pop-header button {
    font-size: 22px;
}

.final-cf-pop-main {
    height: 80%;
    overflow-y: auto;
}