* {

    font-family: "barlow";
    margin: 0;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;


}

body{
    background-color: #252836;
}

.navigate-bar {
    /* border: 1px solid black; */

    height: 100vh;
    background-color: #1F1D2B;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    
    align-items: center;

}

.main-selection {
    /* border: 1px solid black; */
    height: calc(100vh - 44px);
    width: 60%;

    padding: 22px;

}

.info {
    /* border: 1px solid black; */
    border-radius: 3.77px;
    height: 100vh;
    width: 40%;
    background-color: #1F1D2B;

}

.logo {
    height: 56px;
    width: 56px;
    background-color: transparent;
   
}

.button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0px;

}


.btn-img {
    background-color: transparent;
    height: 94px;
    width: 45px;
    align-self: center;

}

.btns {
    width: 104px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-logo{
    background-color: transparent;
    margin: 24px;
}

/* .btn-exit{

    background-color: transparent;
    position: absolute;
    bottom: 0px;
    margin: 24px;
} */
.search-selection{
    border: 1px solid #393C49;
    border-radius: 8px;
    font-size: 14px;

    display: flex;
    align-items: center;

    padding: 3px 10px;

}
.search-box {
    width: 100%;
    height: 80%;
    
    background: none;
    box-shadow: none;
    border: none;

    color: white;
}


.sorting {
  

    height: 128px;
    border-bottom: 1px solid #393C49;
    position: relative;
}

.sorting_top{
    display: flex;
    justify-content: space-between;
}



h1 {
    margin: 0px;
    color: white;
    font-family: "barlow";

}
p{
    color: white;
}


.dish-btn{
    color: white;
    margin-right: 20px;
}

.dish-type{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 33px;
    width: 636px;
 
    position: absolute;
    bottom: 0px;
}

.dish-btn.active{
    border-bottom: 2px solid red;
}





.food-browser {
    margin: 20px 0px;
}

.food-browser-title {
    margin-bottom: 20px;
    color: white;
}
.food-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    max-height: calc(100vh - 220px);
    overflow: auto;
    transform: translateY(0px);
    opacity: 0;
}

.goup-effect {
    animation: goup 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes goup {
    0% {
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.food-item {
    width: 160px;
    height: 190px;
    position: relative;
    border-radius: 5px;
    padding: 5px;
    background-color: #1F1D2B;
    margin: 30px;
    cursor: pointer;
}

.food-item p {
    text-align: center;
    background-color: #1F1D2B;
    font-size: 14px;
}

.food-item-info {
    width: 130px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.food-item img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
}

.item-price {
    padding: 7px 0px;
}

.item-avai {
    color: #ABBBC2;
}

.add-to-cart-mini {
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    opacity: 0.1;
    transition: all 0.5s;
}
.add-to-cart-mini img {
    width: 25px;
    height: 25px;
    background: transparent;
}

.food-item:hover .add-to-cart-mini {
    opacity: 1;
    top: 20px
}
